* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(18, 32, 54));
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.weather-container {
    display: grid;
    width: 400px;
    grid-template-rows: auto;
    grid-template-areas: 
    "location location"
    "icon description"
    "temperature temperature";
    /* justify-content: center;	 */
    height:400px;
    margin: 60px auto 0px auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgb(0, 0, 0);
    background: radial-gradient( rgba(140, 156, 201, 0.466), rgba(18, 34, 77, 0.466));
    border-radius: 14px;
}

.weather-temperature, .weather-unit {
    display: inline-block;
    font-size: 50px;
    flex-grow: 1;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.541);
    font-family: sans-serif;
    cursor: pointer;
}

.weather-location {
    grid-area: location;
    text-align: center;
    padding-top:30px;
    background-color: rgba(0, 0, 0, 0.315);
}

.icon-container {
    grid-area: icon;
    text-align: center;
    padding:40px 0px 0px 14px;
}

.description-container {
    grid-area: description;
    text-align: center;
    padding:84px 16px 0px 0px;
}

.temperature-container {
    grid-area: temperature;
    text-align: center;
    padding-top:40px;
    background-color: rgba(0, 0, 0, 0.24);
}
